.cards{
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

grid-column-gap: 20px;
grid-row-gap: 50px;
margin: 50px;

}

.card{
   
    border:  solid 1px gray;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    
}
.name{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.click{
    text-decoration: none;
    color: black;
}

.active{
    color: red;
}

.btn-box{
text-align: center;

}

.btn{
margin: 3rem;
padding: 1rem 2rem;
cursor: pointer;
font-size: 1.2rem;
}
.btn:hover{
    background-color: blueviolet;
    color: white;
}

.btn-card{
    margin: 1rem;
padding: 0.5rem 3rem;
cursor: pointer;
font-size: 1.2rem;
}
.btn-card:hover{
    background-color: blueviolet;
    color: white;
}

