.menu {
  margin-bottom: 0.5rem;
  padding: 1rem 1rem;
  display: flex;
  color: #c0bfbd;
  width: 90%;
}
.menu:hover {
  background: #424444;
  border-radius: 8px;
}

.menu img {
  padding-left: 0.5rem;
}
