.card{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border: solid 1px green;
    padding: 5px;
}
.text{
    min-width: 80%;
}
.buy{
    text-decoration: line-through; 
}