.card{
    
    border: solid 1px black;
    border-radius: 20px;
   background-color: white;
   text-align: center;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.image_product{
    max-height: 80%;
    max-width: 80%;
}
.title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.rating{
    margin-top: 20px;
}
.span{
    font-weight: 600;
    
}

.card .desc{
text-align: justify;

}
.card .rating{
    text-align: left;
    padding-left: 10px;
}
.card .price{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}