@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.wrapper {
  font-family: "Open Sans", sans-serif;
  width: 100px;

  height: 800px;
  background-color: #242625;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.wrapper:hover {
  width: 260px;
}
.hide{
  visibility: hidden;
}
.wrapper:hover .hide{
  visibility: visible;
}
.wrapper:hover .arrow{

  left: 0;
}

.wrapper a {
  color: #c0bfbd;
  text-decoration: none;
  padding-left: 1.5rem;
}
