.app{
    display: flex;
}


.hide {
  visibility: hidden;
}

.btn {
  font-size: 16px;
  padding: 5px;
  background-color: rgb(44, 138, 245);
  color: white;
  cursor: pointer;
}

#area{
    
    margin-top: 20px;
}

#cards{
    margin-left: 50px;
    border: solid 1px red;
    min-height: 200px;
    min-width: 100vh;
}
