.pole{
    display: flex;
    width: 50PX;
    height: 50px;
    background-color: blueviolet;
    margin: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.flex{
    display: flex;
}

.boom{
    background-color: brown;
}