.nav a{
    padding-left: 3rem;
}

.nav{
    display: flex;
    justify-content: space-between;

    border: solid 1px black;
    font-size: 1.5rem;
    
}

.menu-title{
    display: flex;
    justify-content: space-around;
   padding-top: 1rem;
   margin-right: 5rem;
 
}
