.title {
  display: flex;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

.title a {
  padding: 0;
  text-decoration: none;
  font-size: 13px;
}

.title p {
  margin: 0;
}
.name {
  min-width: 44px;
  min-height: 44px;
  background: #a492ff;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
}

.name_email {
  padding-left: 1rem;
}

.arrow{
  position: relative;
  left: -160px;
  top: 10px;
margin-left: 1.2rem;
  min-width: 23px;
  max-height: 23px;
  background-color: #a492ff;
  border-radius: 50%;
}
.arrow img{
  padding-left: 0.5rem;
}